
// Fonts
@import url("https://fonts.googleapis.com/css?family=Jura");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Boots Watch
@import "bootswatch";

// Custom
@import "custom";

//DateTimepicker

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@import "bower_components/eonasdan-bootstrap-datetimepicker/src/sass/_bootstrap-datetimepicker";
